<p>Hello <%= @owner.full_name %>,</p>
<p>You've Received a like to your question.</p>
<p>Question title: <%= @question.title %></p>
<p>Like from: <%= @like_owner.full_name %></p>
<p>Regards,</p>
<p>Awesome Answers Team</p>
